@page "/"

@using SkiaSharp.Views.Blazor
@using MudBlazor
@using Primal.Client.Services
@inject IJSRuntime JSRuntime
@inject ThemeService ThemeService
@implements IDisposable

<PageTitle>Ulam Spiral Explorer</PageTitle>

<MudContainer Style="height: 100%;">
    <style type="text/css">
        html, body {
            margin: 0 auto;
            height: 100%;
            max-width: none;
            overflow: hidden;
        }

        .mud-container {
            padding: 0;
        }

        canvas {
            width: 100%;
            height: 100%;
        }

        #app {
            height: 100%;
        }

        .mud-container {
            padding: 0;
            position: relative; /* Needed for absolute positioning of children */
        }

        .debug-overlay {
            position: absolute;
            top: 10px; /* Adjust as needed */
            left: 10px; /* Adjust as needed */
            color: white; /* Choose a color that is visible over the canvas */
            background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
            padding: 5px;
            border-radius: 5px;
            z-index: 10; /* Ensure it's above the canvas */
        }
    </style>

    <SKCanvasView 
        id="canvasElementId"
        @ref="_drawingCanvas"
        @onmousewheel="OnMouseWheel"
        @onmousedown="OnMouseDown"
        @onmouseup="OnMouseUp"
        @onmousemove="OnMouseMove"
        IgnorePixelScaling="true"
        OnPaintSurface="DrawNextCanvasFrame" />
    
    @if (_isDebugModeEnabled)
    {
        <div class="debug-overlay">@_debugText</div>
    }
</MudContainer>

@* <MudFab OnClick="@ToggleTools" Style="position: fixed; top: 88px; left: 24px;" Color="Color.Primary" StartIcon="@Icons.Material.Filled.Build" /> *@


@*     <MudDrawer @bind-Open="@ToolsOpen" Anchor="Anchor.Right" Elevation="0" Variant="@DrawerVariant.Persistent" ClipMode="DrawerClipMode.Always">
        <MudDrawerHeader Style="padding-bottom: 0; min-height: unset;">
            <MudText Typo="Typo.h6">Tools</MudText>
        </MudDrawerHeader>

    </MudDrawer> *@