@page "/"

@using SkiaSharp.Views.Blazor
@using MudBlazor
@using Primal.Client.Services
@inject IJSRuntime JSRuntime
@inject ThemeService ThemeService
@implements IDisposable

<PageTitle>Ulam Spiral Explorer</PageTitle>

<MudContainer Style="height: 100%;">
    <style type="text/css">
        html, body {
            margin: 0 auto;
            height: 100%;
            max-width: none;
            overflow: hidden;
        }

        .mud-container {
            padding: 0;
        }

        canvas {
            width: 100%;
            height: 100%;
        }

        #app {
            height: 100%;
        }

        .mud-container {
            padding: 0;
            position: relative;
        }

        .debug-overlay {
            position: absolute;
            top: 10px;
            left: 10px;
            color: white;
            background-color: rgba(0, 0, 0, 0.5);
            padding: 5px;
            border-radius: 5px;
            z-index: 10;
        }
    </style>
    @*
    @if (_isLoading)
    {
    <MudProgressCircular Indeterminate="true" Color="Color.Primary" />
    } *@

    <ProgressIndicator Hidden="@(!_isLoading)" Progress="@SpiralGenerationPercentComplete"></ProgressIndicator>

    <SKCanvasView id="canvasElementId"
                  Hidden="@(_isLoading)"
    @ref="_drawingCanvas"
    @onmousewheel="OnMouseWheel"
    @onmousedown="OnMouseDown"
    @onmousemove="OnMouseMove"
                  IgnorePixelScaling="true"
                  OnPaintSurface="DrawNextCanvasFrame" />

    @if (_isDebugModeEnabled)
    {
        <div class="debug-overlay">@_debugText</div>
    }

    <MudDrawer @bind-Open="@ToolsOpen" Anchor="Anchor.Right" Elevation="0" Variant="@DrawerVariant.Persistent" ClipMode="DrawerClipMode.Always">
        <MudDrawerHeader Style="padding-bottom: 0; min-height: unset;">
            <MudText Typo="Typo.h6">Tools</MudText>
        </MudDrawerHeader>

        <MudList>
            <MudListItem>
                <MudTextField Label="Enter Max Prime" @bind-Value="_maxPrimeInput" />
            </MudListItem>

            <MudListItem Style="text-align: center; padding-top: 0; padding-bottom: 0">
                <MudButton OnClick="ReGenerate">Generate</MudButton>
            </MudListItem>

            <MudListItem Style="text-align: center; padding-top: 0; padding-bottom: 0">
                <MudText>Primes Color</MudText>
            </MudListItem>
            <MudListItem Style="@($"background-color:{_primeColor.Value}; margin: 0 12px 8px; width: auto;")">
                <MudColorPicker Style="margin-top: 0; display: flex; justify-content: center;" 
                                IconSize="MudBlazor.Size.Small"
                                ValueChanged="@(newColor => UpdatePrimeColor(newColor.Value))" />
            </MudListItem>
            
            <MudListItem Style="text-align: center; padding-top: 0; padding-bottom: 0">
                <MudText>Composites Color</MudText>
            </MudListItem>
            <MudListItem Style="@($"background-color:{_compositeBackgroundColor.Value}; margin: 0 12px 8px; width: auto;")">
                <MudColorPicker Style="margin-top: 0; display: flex; justify-content: center;" 
                                IconSize="MudBlazor.Size.Small"
                                ValueChanged="@(newColor => UpdateBackgroundColor(newColor.Value))" />
            </MudListItem>

            <MudListItem Style="text-align: center; padding-top: 0; padding-bottom: 0">
                <MudText>Spiral Color</MudText>
            </MudListItem>
            <MudListItem Style="@($"background-color:{_spiralLineColor.Value}; margin: 0 12px 8px; width: auto;")">
                <MudColorPicker Style="margin-top: 0; display: flex; justify-content: center;" 
                                IconSize="MudBlazor.Size.Small"
                                ValueChanged="@(newColor => UpdateSpiralLineColor(newColor.Value))" />
            </MudListItem>
            
            <MudListItem Style="text-align: center; padding-top: 0; padding-bottom: 0">
                <MudText>Lattice Color</MudText>
            </MudListItem>
            <MudListItem Style="@($"background-color:{_gridLinesColor.Value}; margin: 0 12px 8px; width: auto;")">
                <MudColorPicker Style="margin-top: 0; display: flex; justify-content: center;" 
                                IconSize="MudBlazor.Size.Small"
                                ValueChanged="@(newColor => UpdateGridLinesColor(newColor.Value))" />
            </MudListItem>
            
            <MudListItem Style="text-align: center; padding-top: 0; padding-bottom: 0">
                <MudText>Text Color</MudText>
            </MudListItem>
            <MudListItem Style="@($"background-color:{_numbersTextColor.Value}; margin: 0 12px 8px; width: auto;")">
                <MudColorPicker Style="margin-top: 0; display: flex; justify-content: center;"
                                IconSize="MudBlazor.Size.Small"
                                ValueChanged="@(newColor => UpdateNumbersTextColor(newColor.Value))" />
            </MudListItem>
        </MudList>
    </MudDrawer>

    <MudDialog @ref="SaveDialog">
        <TitleContent>Exported Image Link</TitleContent>
        <DialogContent>
            <a href="@ImageDownloadBlobLocation" download="@DownloadFileName">Download Image</a>
        </DialogContent>
        <DialogActions>
            <MudButton Color="Color.Primary" OnClick="CloseDialog">Ok</MudButton>
        </DialogActions>
    </MudDialog>
</MudContainer>